body {
  background-color: lightblue;
}
img.map {
  height: 100%;
  width: 100%;
}
img.button {
  height: 100%;
  width: 100%;
}
button.textmaker {
  height:60;
  width:60;
  background:transparent;
  position:absolute;
  top:25%;
  left:25%;
  display:block;
}
