body {
  background-color: lightblue;
}
img.map {
  height: 100%;
  width: 100%;
}
img.button {
  height: 10%;
  width: 10%;
}
button.textmaker {
  height:10%;
  width:10%;
  background:transparent;
}
