body {
  background-color: lightblue;
}
img.map {
  height: 100%;
  width: 100%;
}
img.button {
  height: 100%;
  width: 100%;
}
button.textmaker {
  height:30;
  width:30;
  background:transparent;
  border:0px solid black;
  position:absolute;
  top:25%;
  left:25%;
  display:block;
}
button.textmaker:active {
  color:darkred;
}
